@(group: org.kiji.schema.avro.LocalityGroupDesc, tableName: String)

<!-- Render a locality group within a table layout -->

<div>
  <h2>Locality group: @group.getName</h2>

  <table class="table table-condensed table-bordered">
  <tr>
    <th>Max versions</th>
    <th>TTL</th>
    <th>In memory?</th>
    <th>Block size</th>
    <th>Bloom filter</th>
    <th>Compression</th>
  </tr>
  <tr>
    <td>@group.getMaxVersions.toString</td>
    <td>@group.getTtlSeconds.toString</td>
    <td>@group.getInMemory.toString</td>
    <td>@Option(group.getBlockSize).getOrElse("<system-defined>").toString</td>
    <td>@Option(group.getBloomType).getOrElse("NONE").toString</td>
    <td>@group.getCompressionType.toString</td>
  </tr>
  </table>

  @group.getFamilies.map { family => @_layout_family(family, tableName) }
</div>

