@(family: org.kiji.schema.avro.FamilyDesc, tableName: String)

@import org.kiji.schema.avro.ColumnDesc

<!-- Render a column family's layout within a table layout -->

<div class="well">
  <h3>Family: @family.getName
    @if(Option(family.getMapSchema).isDefined) {
      (Map type)
    } else {
      (Group type)
    }
    &nbsp;
    <a href="/tables/@tableName/preview/@family.getName">Preview &gt;&gt;</a>
  </h3>

  <p>@Option(family.getDescription).getOrElse("")</p>

  @if(Option(family.getMapSchema).isDefined) {
    <p>Map type family has schema:</p>
    @_schema(family.getMapSchema)
  } else {
    <ul>
      @family.getColumns.map { col: ColumnDesc =>
        <li>@col.getName (@Option(col.getDescription).getOrElse("")):
          @_schema(col.getColumnSchema)
        </li>
      }
    </ul>
  }
</div>

