@(tableName: String, layout: org.kiji.schema.avro.TableLayoutDesc)

@main("Kiji Viz Studio: Table Viewer: " + tableName) {
    
<div class="row">
  <div class="span3">&nbsp;</div>
  <div class="span6"><h2>View table layout: @tableName</h2></div>
</div>

<div class="row">
  <div class="span12">
    <p>@Option(layout.getDescription()).getOrElse("").trim</p>
  </div>
  <div class="span12">
    <p>Row key format:</p>
    <p>TODO: This</p>
  </div>
  <div class="span12">
    @layout.getLocalityGroups().map { localityGroup =>
        @_layout_locgroup(localityGroup, tableName)
    }
  </div>
</div>

<div>
  <p>viewing table: @tableName</p>

  <p>Edit it: <a href="/tables/@tableName/edit">editor</a></p>
</div>


}
